{% extends "bares_y_tapas/base.html" %}

{% load staticfiles %}

{% block title %}Index{% endblock %}

        {% block body_block %}
    <div class="page-header">
                <h1>¡Bienvenido a Bares & Tapas!</h1>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top 5 Bares</h3>
        </div>
      </div>
              {% if Bares %}
                    <ul class="list-group">
                        {% for b in Bares %}
                         <li class="list-group-item"><a href="/bares/bar/{{ b.slug }}">{{ b.nombre }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>No hay Bares.</strong>
                {% endif %}

                <script src="http://code.highcharts.com/highcharts.js"></script>
                <div id="container" style="height: 300px"></div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Top 5 Tapas</h3>
        </div>
      </div>
            {% if Tapas %}
                <ul class="list-group">
                  {% for t in Tapas %}
                    <li class="list-group-item">{{ t.nombre_tapa }} --> <a href="/bares/bar/{{ t.bar.slug }}">{{ t.bar }}</a>   ({{ t.megusta }} MeGusta) </li>
                  {% endfor %}
               </ul>
            {% else %}
              <strong>No hay Tapas.</strong>
            {% endif %}









        {% endblock %}
